<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Myself:</h1>
    <hr>
         <p> My name is {{user_profile.name}} and my phone
             number is {{user_profile.phone}}  and email 
            is {{user_profile.email}} </p>


    <h1>Education</h1>    
    <hr>
            <p>I have completed my school from {{user_profile.school}}
                and have {{user_profile.degree}} 
                from {{user_profile.university}} </p>
   
                
    <h1>My Skills are:</h1>
    <hr>
        <p>{{user_profile.skill}}</p>  
        
        
    <h1>My Previous Works are:</h1>   
    <hr>
        <p>{{user_profile.previous_work}}</p>

    
</body>
</html>